h1{
    color: white;
    font-family:'Germania One', cursive;
    font-size: 80px;
    text-align: center; 
 }
.title{
    color:black;
    font-family:'Germania One', cursive;
    font-size: 80px;
    text-align: center;
}
